@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap";

* {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

body > img {
    z-index: -1;
    position: fixed;
    width: 100%;
    filter: brightness(60%);
}

html {
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
}

button {
    color: #29d9d5;
    background: none;
    border: 1px solid #29d9d5;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    font-size: 20px;
    transition: 0.4s linear;
}

button:hover {
    background: #29d9d5;
    color: black;
}

nav {
    background-color: rgb(36, 13, 13);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 7rem;
    align-items: center;
}

.main {
    padding-top: 1rem;
    background: white;
}

.logo > a {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: white;
}

.logo > a > i {
    scale: 1.8;
}

.links {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    font-size: 22px;
}

.links > a {
    color: white;
    transition: 0.2s linear;
}

.links > a:hover {
    color: #29d9d5;
}

header {
    margin: 0 7rem 1rem;
    background: #efe1e2;
    padding: 1rem;
    border-radius: 1rem;
}

header > h2 {
    color: blue;
    font-size: 20px;
}

header > p {
    font-size: 14px;
}

.images {
    margin: 0 7rem;
    display: grid;
    grid-template-columns: repeat(3, calc(83vw/3));
    grid-template-rows: repeat(2, calc(70vh/2));
    gap: 2rem 1rem;
    padding-bottom: 2rem;
}

.img-content {
    transition: 0.5s linear;
}

.images > .img-content > a > img {
    width: 100%;
    height: auto;
    overflow-y: hidden;
    border-radius: 1rem;
}

.img-content > h2 {
    color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 1;
    transition: 0.2s linear;
}

.img-content:hover {
    filter: grayscale(50%);
}

.img-content:hover .h2-over {
    visibility: visible;
    scale: 1.4;
}

.book-trial {
    margin-top: 2rem;
    background: none;
    text-align: center;
    margin-bottom: 1rem;
}

.book-trial > h3 {
    color: #29d9d5;
    font-size: 28px;
}

.book-trial > h2 {
    color: white;
    font-size: 48px;
}

.book-trial > p {
    color: white;
    padding: 1rem 30%;
}

.book-trial > button {
    color: #29d9d5;
}

.book-trial > button:hover {
    color: black;
}

footer {
    background: black;
    width: 100%;
    height: 15rem;
}

.contents {
    margin: 1rem 7rem 0;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.contents > .photography > h2 {
    font-size: 36px;
    margin-bottom: 1rem;
}

.contents > .photography > p {
    font-size: 18px;
    opacity: 70%;
    margin-bottom: 1rem;
}

.circ-icon {
    margin-top: 1rem;
    display: flex;
    column-gap: 1rem;
}

.circ-icon > a {
    color: #29d9d5;
}

.circ-icon > a > i {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 1em 1.2em;
    transition: 0.2s linear;
}

.circ-icon > a:hover i {
    background: #29d9d5;
    color: black;
}

.contact > h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}

.contact > p {
    text-align: center;
    font-size: 18px;
}

.newsletter > h2 {
    font-size: 36px;
}

.newsletter > h5 {
    font-size: 18px;
}

.newsletter > label  > input {
    font-size: 20px;
    width: 70%;
    background: none;
    border: #29d9d5 1px solid;
    padding: 1rem;
    border-radius: 3rem;
    margin: 1rem 0;
    color: white;
}

.newsletter > label > input:focus {
    outline: none;
}

